body {
  min-height: 2000px;
  padding-top: 70px;
  background-color: #f7f7f7;
}

.anchor {
	padding-top: 40px; /* prevents the fixed navbar from obscuring the anchors */
  margin-top: -40px;
  display: inline-block; /* required for webkit browsers */
}

.jumbotron {
  position: relative;
  background: none;
}

.jumbotron:after {
  content:"";
  background: url("../images/verplank.jpg"); /* Image Creative Commons, thanks JoshDamon! http://www.flickr.com/photos/joshdamon/2870730178/ */
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;       
}

.navbar-default {
  text-transform:uppercase;
  font-family: "Gill Sans", Calibri, AvenirNext, Avenir, HelveticaNeue, Helvetica, Arial, Verdana, sans-serif;
  font-size: 12pt;
}

.navbar-default .navbar-brand {
  font-size: 20pt;
}

.navbar-nav {
    font-weight: 300;
}

.lab-slide {
  margin-bottom: 2em;
}